/*Clases reutilizables*/
* {
  font-family: Courier New, Courier, monospace;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	line-height: 1;
  background-color: #C2DAE9;
  position: relative;
}

ol, ul {
	list-style: none;
}

/*clases específicas*/
#nav {
  background-color: white;
  color: black;
  height: 80px;
  padding: 3px 0;
  position: relative;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  top: 0;
  width: 100%;
}

section {
  display: inline;
}

.box-left {
  background-color: white;
  border: 1px solid black;
  margin-left: 10%;
  margin-top: 5%;
  height: 100px;
  width: 400px; 
}

.box-right {
  background-color: #5FCBDF;
  margin: -8% 10% 0% 50%;
  height: 107px;
  width: 380px;
}

.container-writter {
  padding: 7px;
}

textarea {
  border: 1px solid black;
  height: 45px;
  width: 355px;
}

hr {
  border-color: #000000;
  border-style: solid;
  margin: auto;
  width: 30px;
}

.container-twits {
  height: 100px; 
  width: 900px;
}

h3 {
  font-weight: 700;
  margin: 0% 15%;
}

ul li {
  background-color: white;
  margin-left: 15%;
  margin-bottom: 2%;
  height: 50px;
  width: 950px;
  list-style: none;
}

/*Css con JS*/
.btn {
  background-color: #0D47A1;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  outline: none;
  padding: 7px;
}

.count {
  margin: -5% 0 0 20%;  
  font-size: 20px;
  font-weight: 700;
}

.btn-enabled {
  background-color: gray;
}
