/* HEADER */
body {
  background-image: url(../assets/images/fondo.jpg);
  background-size: cover;
    background-repeat: no-repeat;
}

.logo-header {
  height: 1.5em;
  top: 1em;
}  

.btn {
  border: 1px solid #55abd5;
  border-radius: 25px;
  background-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #55abd5;
}
/* 
.material-icons:hover {
  color: #55abd5;
  cursor: pointer;
} */


@media (min-width: 992px) {
  .hide {
    visibility: visible;
  }
}